PORT = "3000"
DATABASE_URL= "postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME?schema=public"
JWT_SECRET= "tu_secret_seguro_de_al_menos_64_caracteres"
CLOUDINARY_URL="cloudinary://API_KEY:API_SECRET@CLOUD_NAME"
CLOUDINARY_FOLDER="tu_carpeta_en_cloudinary"