@import "tailwindcss";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/material-symbols-outlined";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-on-primary: #ffffff;
  --color-on-secondary-container: #00616f;
  --color-primary-container: #3668fc;
  --color-on-tertiary-fixed: #351000;
  --color-surface-dim: #d8dadc;
  --color-surface-container: #eceef0;
  --color-on-background: #191c1e;
  --color-tertiary-container: #c64f00;
  --color-on-primary-container: #fffbff;
  --color-on-surface: #191c1e;
  --color-on-secondary: #ffffff;
  --color-background: #f7f9fb;
  --color-on-surface-variant: #434655;
  --color-surface: #f7f9fb;
  --color-secondary: #006877;
  --color-on-secondary-fixed-variant: #004e5a;
  --color-on-tertiary-fixed-variant: #7c2e00;
  --color-tertiary-fixed-dim: #ffb695;
  --color-secondary-fixed-dim: #2fd9f4;
  --color-inverse-primary: #b6c4ff;
  --color-surface-variant: #e0e3e5;
  --color-primary-fixed: #dce1ff;
  --color-inverse-on-surface: #eff1f3;
  --color-on-primary-fixed: #001550;
  --color-secondary-container: #3fe1fd;
  --color-surface-bright: #f7f9fb;
  --color-on-error-container: #93000a;
  --color-surface-tint: #0c4fe5;
  --color-error: #ba1a1a;
  --color-tertiary: #9e3d00;
  --color-on-tertiary-container: #fffbff;
  --color-primary-fixed-dim: #b6c4ff;
  --color-outline-variant: #c3c5d8;
  --color-on-tertiary: #ffffff;
  --color-tertiary-fixed: #ffdbcc;
  --color-surface-container-low: #f2f4f6;
  --color-on-primary-fixed-variant: #003ab2;
  --color-secondary-fixed: #a2eeff;
  --color-surface-container-high: #e6e8ea;
  --color-on-error: #ffffff;
  --color-on-secondary-fixed: #001f25;
  --color-surface-container-highest: #e0e3e5;
  --color-surface-container-lowest: #ffffff;
  --color-primary: #024ce2;
  --color-outline: #737687;
  --color-inverse-surface: #2d3133;
  --color-error-container: #ffdad6;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  --font-headline: "Inter Variable", sans-serif;
  --font-body: "Inter Variable", sans-serif;
  --font-label: "Inter Variable", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-body);
  }
  button,
  [role="button"] {
    cursor: pointer;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-family: "Material Symbols Outlined Variable", sans-serif !important;
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }

  .tight-tracking {
    letter-spacing: -0.02em;
  }
}
